In [9]:
for i in range(1,11):
    print(f"2*{i} = {2*i}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [13]:
table = []
for i in range(1,11):
    print(f"2*{i} = {2*i}")
    table.append(2*i)

In [15]:
table

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
# using list comprehension
table = [2*i for i in range(1,11)]
table

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
# using list comprehension
table = [2*i for i in range(1,11) if i%2==0]
table

[4, 8, 12, 16, 20]