In [33]:
import pandas as pd
s1 = pd.Series([22,55,66,54,77,54,43])
type(s1

pandas.core.series.Series

In [35]:
s1

0    22
1    55
2    66
3    54
4    77
5    54
6    43
dtype: int64

In [39]:
s2 = pd.Series([72,55,66,54,77,54,43], index = ['sumant','rishabh', 'farry', 'harry', 'vansh', 'aman', 'shivam'])
s2

sumant     72
rishabh    55
farry      66
harry      54
vansh      77
aman       54
shivam     43
dtype: int64

In [41]:
s2["sumant"]

np.int64(72)

In [51]:
data = {
    "name":['sumant', 'harry', 'cherry'],
    "age": [44, 44, 33],
    "city":['Mumbai', 'Dehli', 'gurgao']
}

df = pd.DataFrame(data)
print(df)

     name  age    city
0  sumant   44  Mumbai
1   harry   44   Dehli
2  cherry   33  gurgao

In [55]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [59]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [11]:
import pandas as pd
df = pd.read_json("data.json")
df

     name language
0  sumant   python
1   rohan   python